h1{
    color:red;
    font-size:100px;
    text-align: center;
}
.white1
{
    color:green;

}
.white2
{
    color:red;
}
.positon{
    margin-left: 96px;
    color:red;
}
.file
{
    text-align: center;
}
